<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,menu-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
          rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>物品流水</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i>统计 <span class="c-gray en">&gt;</span>全局数据
     <span class="c-gray en">&gt;</span>物品流水<a
        class="btn btn-success radius r mr-20"
        style="line-height: 1.6em; margin-top: 3px"
        href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="pd-20">
    <!--搜索 -->
    <form action="" method="get">

        <div class="text-c">
            创建时间：<input type="text"
                         onfocus="<literal>WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-{%d}\'}'})</literal>"
                         id="datemin" value="{$search['datemin']}" name="datemin"
                         class="input-text Wdate" style="width: 120px;"> - <input
                type="text"
                onfocus="<literal>WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-{%d}'})</literal>"
                id="datemax" value="{$search['datemax']}" name="datemax"
                class="input-text Wdate" style="width: 120px;">

                <span style="width: 150px" class="select-box">

                <select size="1" name="Channel" class="select">
                        <option value="">渠道</option>
                        <volist name = "Channel" id = "val">
                              <option  value="{$val['account']}"   <if condition  = "$search['Channel'] eq $val['account']"> selected = "true"</if>   >{$val['name']}</option>
                        </volist>
				</select>
				</span>
            <span style="width: 150px" class="select-box">
                <select size="1" name="VerSion" class="select">
                        <option value="">版本</option>
                        <option  <if condition  = "$search['VerSion'] eq 1.0"> selected = "true"</if> value="1.0">1.0</option>
				</select>
			</span>
            <span style="width: 150px" class="select-box">
                <select size="1" name="Reason" class="select">
                        <option   value="">来源</option>
                        <option <if condition  = "$search['Reason'] eq 2"> selected = "true"</if> value="2">购买月卡</option>
                        <option <if condition  = "$search['Reason'] eq 3"> selected = "true"</if>  value="3">月卡奖励</option>
                        <option <if condition  = "$search['Reason'] eq 4"> selected = "true"</if>  value="4">消耗道具</option>
                        <option <if condition  = "$search['Reason'] eq 5"> selected = "true"</if>  value="5">购买金币</option>
                        <option <if condition  = "$search['Reason'] eq 6"> selected = "true"</if>  value="6">兑换</option>
                        <option <if condition  = "$search['Reason'] eq 7"> selected = "true"</if>  value="7">vip</option>
                        <option <if condition  = "$search['Reason'] eq 8"> selected = "true"</if>  value="8">签到</option>
                        <option <if condition  = "$search['Reason'] eq 9"> selected = "true"</if>  value="9">活动</option>
                        <option <if condition  = "$search['Reason'] eq 10"> selected = "true"</if>  value="10">商城</option>
                        <option <if condition  = "$search['Reason'] eq 11"> selected = "true"</if>  value="11">购买商品</option>
                        <option <if condition  = "$search['Reason'] eq 12"> selected = "true"</if>  value="12">首冲</option>
                        <option <if condition  = "$search['Reason'] eq 13"> selected = "true"</if>  value="13">后台</option>
                        <option <if condition  = "$search['Reason'] eq 14"> selected = "true"</if>  value="14">玩家升级</option>
                        <option <if condition  = "$search['Reason'] eq 15"> selected = "true"</if>  value="15">击杀鱼</option>
                        <option <if condition  = "$search['Reason'] eq 16"> selected = "true"</if>  value="16">炮升级</option>
                        <option <if condition  = "$search['Reason'] eq 17"> selected = "true"</if>  value="17">通过邮件领取</option>
                        <option <if condition  = "$search['Reason'] eq 18"> selected = "true"</if>  value="18">赠送礼物</option>
                        <option <if condition  = "$search['Reason'] eq 19"> selected = "true"</if>  value="19">抽奖</option>
                        <option  <if condition  = "$search['Reason'] eq 22"> selected = "true"</if> value="20">启航礼包</option>
				</select>
			</span>
            <span style="width: 150px" class="select-box">
                <select size="1" name="Itemid" class="select">
                        <option value="">物品</option>
                        <option <if condition  = "$search['Itemid'] eq 1"> selected = "true"</if> value="1">冰封</option>
                        <option <if condition  = "$search['Itemid'] eq 2"> selected = "true"</if> value="2">锁定</option>
                        <option <if condition  = "$search['Itemid'] eq 3"> selected = "true"</if> value="3">蓝色核弹</option>
                        <option <if condition  = "$search['Itemid'] eq 4"> selected = "true"</if> value="4">红色核弹</option>
                        <option <if condition  = "$search['Itemid'] eq 5"> selected = "true"</if> value="5">紫色核弹</option>
                        <option <if condition  = "$search['Itemid'] eq 6"> selected = "true"</if> value="6">渔劵</option>
                        <option <if condition  = "$search['Itemid'] eq 7"> selected = "true"</if> value="7">月卡</option>
                        <option <if condition  = "$search['Itemid'] eq 8"> selected = "true"</if> value="8">金币</option>
                        <option <if condition  = "$search['Itemid'] eq 9"> selected = "true"</if> value="9">钻石</option>
				</select>
			</span>
            <span style="width: 100px" class="select-box">
                <select size="1" name="Num" class="select">
						<option  <eq name = "search['Num']" value ="30">selected = "true"</eq> value="30">条数</option>
						<option <eq name = "search['Num']" value ="60">selected = "true"</eq>  value="60">60</option>
						<option <eq name = "search['Num']" value ="90">selected = "true"</eq>  value="90">90</option>
				</select>
				</span>
            <button type="submit" class="btn btn-success" id="" name="">
                <i class="Hui-iconfont">&#xe665;</i> 搜索
            </button>
        </div>
    </form>
    <table
            class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c" >
            <td  class="panel-header" style="background-color: #5a98de;color: #ffffff" colspan = 10>游戏数值</td>
        </tr>
        <tr class="text-c">
           <volist name = "Itemid" id ="val">
            <th width="60">{$val['Name']}</th>

           </volist>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <volist name = "Itemid" id ="val">
                <th width="60"><if condition="$val['Number']">{$val['Number']}<else/>0</if></th>
            </volist>
        </tr>
        </tbody>
    </table>
    <table
            class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <th width="30">来源</th>
            <th width="60">物品</th>
            <th width="60">用户</th>
            <th width="60">数量</th>
            <th width="60">渠道</th>
            <th width="60">版本</th>
            <th width="60">更新时间</th>
        </tr>
        </thead>
        <tbody>
        <volist name = "info" id="val">
            <tr class="text-c">
                <th width="30">
                    <switch name = "val['Reason']" >
                        <case value = "1">
                          ...
                        </case>
                        <case value = "2">
                            购买月卡
                        </case>
                        <case value = "3">
                           月卡奖励
                        </case>
                        <case value = "4">
                            消耗道具
                        </case>
                        <case value = "5">
                            购买金币
                        </case>
                        <case value = "6">
                            兑换
                        </case>
                        <case value = "7">
                            vip
                        </case>
                        <case value = "8">
                           签到
                        </case>
                        <case value = "9">
                            活动
                        </case>
                        <case value = "10">
                            商城
                        </case>
                        <case value = "11">
                            购买商品
                        </case>
                        <case value = "12">
                            首冲
                        </case>
                        <case value = "13">
                            后台
                        </case>
                        <case value = "14">
                            玩家升级
                        </case>
                        <case value = "15">
                            击杀鱼
                        </case>
                        <case value = "16">
                            炮升级
                        </case>
                        <case value = "17">
                            通过邮件领取
                        </case>
                        <case value = "18">
                            赠送礼物
                        </case>
                        <case value = "19">
                            抽奖
                        </case>
                        <case value = "20">
                            启航礼包
                        </case>
                        <default/>
                        未知
                    </switch>
                </th>
                <th width="60">
                    <switch name = "val['Itemid']" >
                        <case value = "1">
                            冰封
                        </case>
                        <case value = "2">
                            锁定
                        </case>
                        <case value = "3">
                            蓝色核弹
                        </case>
                        <case value = "4">
                            红色核弹
                        </case>
                        <case value = "5">
                            紫色核弹
                        </case>
                        <case value = "6">
                            渔劵
                        </case>
                        <case value = "7">
                            月卡
                        </case>
                        <case value = "8">
                            金币
                        </case>
                        <case value = "9">
                            钻石
                        </case>
                        <default/>
                        未知
                    </switch>
                </th>
                <th width="60">{$val['UserNum']}</th>
                <th width="60">{$val['Number']}</th>
                <th width="60">{$val['Channel']}</th>
                <th width="60">{$val['VerSion']}</th>
                <th width="60">{$val['DateTime']}</th>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class = "cl">
    <div style="padding-right: 20px;float: right;" 　id="DataTables_Table_0_paginate"
         class="dataTables_paginate paging_simple_numbers">{$page}</div>
</div>
<script type="text/javascript" src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/Highcharts/4.1.7/js/modules/exporting.js"></script>
</body>
</html>
<!--导出excel-->
<script type="text/javascript">
//导出excel
    var excel = document.getElementById('excel');
    function excelData() {
        excel.submit();
    }

</script>


