<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,gprs-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/lib/icheck/icheck.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
          rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>添加管理组</title>
</head>
<body>
<div class="pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-adminGroup-add">
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>管理组名：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder="" id="member-name" name="name" datatype="headimg" nullmsg="管理组名不能为空">

            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red"></span>主页地址：</label>
            <div class="formControls col-5">
                <input type="text" class="input-text" value="" placeholder=""   name="DesktopAddress"  nullmsg="">

            </div>
            <div class="col-4"> </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3"><span class="c-red">*</span>上级组：</label>
            <div class="formControls col-5">
                <div style="width:100%;text-align:center;float:left">
		        		<span class="select-box">
							<select  class="select" name = "upid"  datatype="*1-16" nullmsg="请选择上级组" >
                                <eq name = "userInfo['default']" value ="2">
                                    <option value="0">最上级</option>
                                <else/>
                                    <option value="{$userInfo['admingroup']}">{$userInfo['name']}</option>
                                </eq>
                                <volist name="admingroupInfo" id="v">
                                    <option value="{$v['id']}">{$v['name']}</option>
                                </volist>
                            </select>
						</span>

                </div>

            </div>

            <div class="col-4"></div>
        </div>

        <div class="row cl">
            <label class="form-label col-3">操作权限：</label>

            <label class="form-label col-1">增加</label>
            <div class="formControls col-1 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" name="add"  value="2" id="checkbox-pinglun_add">
                    <label for="checkbox-pinglun_add">&nbsp;</label>
                </div>
            </div>
            <label class="form-label col-1">修改</label>
            <div class="formControls col-1 skin-minimal">
                <div class="check-box">
                    <input type="checkbox" name="edit"  value="2" id="checkbox-pinglun_edit">
                    <label for="checkbox-pinglun_edit">&nbsp;</label>
                </div>
            </div>
            <label class="form-label col-1">删除</label>
            <div class="formControls col-1 skin-minimal">
                <div class="check-box">
                    <input type="checkbox"  name="del"  value="2" id="checkbox-pinglun_del">
                    <label for="checkbox-pinglun_del">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-3">是否锁定：</label>
            <div class="formControls col-5 skin-minimal">
                <div class="radio-box">
                    <input type="radio" id="isLock-1" name="islock" value="1" checked="checked">
                    <label for="isLock-1">否</label>
                </div>
                <div class="radio-box">
                    <input type="radio" id="isLock-2"  name="islock"  value="2">
                    <label for="isLock-2">是</label>
                </div>
            </div>

        </div>
        <div class="row cl">
            <label class="form-label col-3">备注：</label>
            <div class="formControls col-7">
                <textarea name="remark" rows="7" cols="40"></textarea>
            </div>
        </div>

        <div class="row cl">
            <div class="col-9 col-offset-3">
                <input class="btn btn-primary radius" type="submit" name="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">

        </div>
        </div>
        <!--<div class="layui-layer-shade" id="layui-layer-shade1" times="1" style="z-index:19891014; background-color:#000; opacity:0.3; filter:alpha(opacity=30);"></div>-->
        <!--<div class="layui-layer layui-anim layui-layer-dialog " id="layui-layer1" type="dialog" times="1" showtime="0" contype="string" style="z-index: 19891015; top: 212px; left: 280px;">-->
            <!--<div class="layui-layer-content" style="text-align: center"><a href="###">确定停用嘛</a></div>-->
            <!--<span class="layui-layer-setwin"></span>-->
            <!--<div class="layui-layer-btn">-->
         <!--<a class="layui-layer-btn0">确定</a>-->
        <!--</div>-->
        <!--</div>-->
    </form>
</div>
</div>

<script type="text/javascript" src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"
        src="{$responseAdmin}/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript"
        src="{$responseAdmin}/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript"
        src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>

<script type="text/javascript">

    $(function(){
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });


        $("#form-adminGroup-add").Validform({
            tiptype:2,
            datatype:{
                'headimg':function (gets,obj,curform,regxp) {
                    //参数gets是获取到的表单元素值，obj为当前表单元素，curform为当前验证的表单，regxp为内置的一些正则表达式的引用;
                    if(gets == ''){
                        return false;
                    }
                    if(gets.length < 2 || gets.length >16){
                        return '请填写2到16个字符';
                    }

                    var _Verification = true;
                   $.ajax(
                       {
                           type:"POST",
                           url:'/jy_admin/admingroup/Verification',
                           async:false,
                           data:{'adminGrupName':gets},
                           success:function (msg) {
                               if(msg == 0){
                                   _Verification =   false;
                               }else if(msg == 1){
                                   _Verification =   true;
                               }else if(msg == 2){
                                   _Verification   = '组名已存在，请更换组名';
                               }

                           }
                       }
                   );

                    return   _Verification;
                }
            },
            callback:function(form){
                form[0].submit();
                var index = parent.layer.getFrameIndex(window.name);
                console.log(index);
                parent.$('.btn-refresh').click();
                parent.layer.close(index);
            }
        });

    });
</script>
<script type="text/javascript">

</script>
</body>
</html>