<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,menu-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
          rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>邮件发放</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 运营查询 <span class="c-gray en">&gt;</span>
    运营报表 <span class="c-gray en">&gt;</span>邮件发放 <a
        class="btn btn-success radius r mr-20"
        style="line-height: 1.6em; margin-top: 3px"
        href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="pd-20">
    <!--搜索 -->
    <form action="" method="get">

        <div class="text-c">
            创建时间：<input type="text"
                        onfocus="<literal>WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-{%d}\'}'})</literal>"
                        id="datemin" value="{$search['datemin']}" name="datemin"
                        class="input-text Wdate" style="width: 120px;"> - <input
                type="text"
                onfocus="<literal>WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-{%d}'})</literal>"
                id="datemax" value="{$search['datemax']}" name="datemax"
                class="input-text Wdate" style="width: 120px;">

            <span style="width: 150px" class="select-box">
                <select size="1" name="Source"  onchange="SourceFun(this)"  class="select">
                        <option <eq name = "search['Source']" value = "1">selected = "true"</eq>  value="1">全服</option>
                        <option <eq name = "search['Source']" value = "2">selected = "true"</eq> value="2">渠道</option>
                        <option  <eq name = "search['Source']" value = "3">selected = "true"</eq> value="3">个人</option>
				</select>
			</span>
            <input
                    type="text" class="input-text"    <neq name = "search['Source']" value = "3"> style="width: 100px;display: none;" <else/>  style="width: 100px;"</neq>
                    placeholder="请输入用户ID"  id = "UsersId" value="{$search['playerid']}"
                    name="playerid">
            <span style="width: 150px;" class="select-box">
                <select size="1" name="Style" class="select">
                    <option   <eq name = "search['Style']" value = "1">selected = "true"</eq> value="1">卡密</option>
                    <option <eq name = "search['Style']" value = "2">selected = "true"</eq>    value="2">物品</option>
				</select>
			</span>
            <span <neq name = "search['Source']" value = "2"> style="display: none;width: 150px;" <else/>  style="width: 150px;"</neq>   id ="Channel"  class="select-box">
                <select size="1" name="Channel"  class="select">
                        <option value="">渠道</option>
                        <volist name = "Channel" id = "val">
                              <option  value="{$val['account']}"   <if condition  = "$search['Channel'] eq $val['account']"> selected = "true"</if>   >{$val['name']}</option>
                        </volist>
				</select>
			</span>
            <button type="submit" class="btn btn-success" id="" name="">
                <i class="Hui-iconfont">&#xe665;</i> 搜索
            </button>
        </div>
    </form>
    <table
            class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <eq name = "search['Source']" value = "3">
                <th width="30">用户ID</th>
            <else/>
                <th width="30">渠道</th>
            </eq>
            <eq name = "search['Style']" value = "1">
                <th width="30">卡名</th>
                <th width="30">卡号</th>
                <th width="30">卡密</th>
            <else/>
                <th width="30">物品名</th>
                <th width="30">数量</th>
            </eq>
            <th width="30">操作人</th>
            <th width="30">操作时间</th>
        </tr>
        </thead>
        <tbody>
         <volist name = "info" id = "val" >
             <tr class="text-c">
                 <eq name = "search['Source']" value = "3">
                     <th width="30">{$val['playerid']}</th>
                 <else/>
                     <th width="30">{$val['Channel']}</th>
                 </eq>
                 <eq name = "search['Style']" value = "1">
                     <th width="30">{$val['GoodsName']}</th>
                     <th width="30">{$val['CardNum']}</th>
                     <th width="30">{$val['CardMi']}</th>
                  <else/>
                     <th width="30">{$val['GoodsName']}</th>
                     <th width="30">{$val['Number']}</th>
                 </eq>
                 <th width="30">{$val['Aname']}</th>
                 <th width="30">{$val['DateTime']}</th>
             </tr>
         </volist>
        </tbody>
    </table>
</div>
<div class = "cl">
    <div style="padding-right: 20px;float: right;" 　id="DataTables_Table_0_paginate"
         class="dataTables_paginate paging_simple_numbers">{$page}</div>
</div>
<script type="text/javascript" src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

</body>
</html>

<script type="text/javascript">
     //选择来源
     function SourceFun(my) {
         var UsersId = document.getElementById('UsersId');
         var Channel = document.getElementById('Channel');
         var Index =  my.selectedIndex;
         var Value =  my.options[Index].value;
         if(Value == 2) {
         //渠道
             UsersId.style.display = "none";
             Channel.style.display = "inline-block";
         }else if(Value == 3){
         //个人
             Channel.style.display = "none";
             UsersId.style.display = "inline-block";
         }else{
             UsersId.style.display = "none";
             Channel.style.display = "none";
         }

     }

</script>


