<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,menu-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
          rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>渠道数据</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
    渠道 <span class="c-gray en">&gt;</span>渠道数据 <a
        class="btn btn-success radius r mr-20"
        style="line-height: 1.6em; margin-top: 3px"
        href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="pd-20">
    <!--搜索 -->
    <form action="" method="get">

        <div class="text-c">
            创建时间：<input type="text"
                         onfocus="<literal>WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-{%d}\'}'})</literal>"
                         id="datemin" value="{$search['datemin']}" name="datemin"
                         class="input-text Wdate" style="width: 120px;"> - <input
                type="text"
                onfocus="<literal>WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-{%d}'})</literal>"
                id="datemax" value="{$search['datemax']}" name="datemax"
                class="input-text Wdate" style="width: 120px;">
            <neq name = "userinfo['channel']" value="2">
                <span style="width: 150px" class="select-box">

                <select size="1" name="channel" class="select">
                        <option value="">渠道</option>
                        <volist name = "ChannelList" id = "val">
                              <option  value="{$val['account']}"   <if condition  = "$search['channel'] eq $val['account']"> selected = "true"</if>   >{$val['name']}</option>
                        </volist>
				</select>
				</span>
            </neq>
            <span style="width: 100px" class="select-box">
                <select size="1" name="num" class="select">
						<option  <eq name = "search['num']" value ="30">selected = "true"</eq> value="30">条数</option>
						<option <eq name = "search['num']" value ="60">selected = "true"</eq>  value="60">60</option>
						<option <eq name = "search['num']" value ="90">selected = "true"</eq>  value="90">90</option>
				</select>
				</span>
            <button type="submit" class="btn btn-success" id="" name="">
                <i class="Hui-iconfont">&#xe665;</i> 搜索
            </button>
        </div>
    </form>

    <div class="cl pd-5 bg-1 bk-gray mt-20" >
        <form action="/Jy_statistics/ChannelData/excelData" id="excel" method="post">
            <textarea  style="display: none;" name = "data">{$info|json_encode}</textarea>
        <input  type="hidden"  name ="channel" value="{$userinfo['channel']}" />
			<span class="l"> <a href="javascript:;"
                                onclick="excelData()"
                                class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					导出excel</a>
			</span>
        </form>
    </div>
    <table
            class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c" >
            <td  class="panel-header" style="background-color: #5a98de;color: #ffffff" colspan = 10>汇总</td>
        </tr>
        <tr class="text-c">
            <th width="30">注册人数</th>
            <th width="30">付费用户</th>
            <th width="30">付费金额</th>
            <th width="30">付费用户（老用户）</th>
            <th width="30">付费金额（老用户）</th>
            <th width="30">活跃用户</th>
            <th width="30">订单数</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-c">
            <td>{$count[0]['RegNum']}</td>
            <td>{$count[0]['UserPayNum']}</td>
            <td>{$count[0]['TotalMoney']|round ="2"}</td>
            <td>{$count[0]['UserPayNumOld']}</td>
            <td>{$count[0]['OrderTotalOld']|round ="2"}</td>
            <td>{$count[0]['ActiveNum']}</td>
            <td>{$count[0]['Success']}</td>

        </tr>

        </tbody>
    </table>
    <table
            class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <th width="30">渠道ID</th>
            <th width="60">渠道名称</th>
            <th width="60">报表日期</th>
            <eq name = "userinfo['channel']" value = "2">
                <th width="30">新增用户</th>
            <else/>
                <th width="30">账号新增</th>
                <th width="30">设备新增</th>
            </eq>
            <th width="30">付费金额</th>
            <th width="30">付费用户数</th>
            <th width="40">注册ARPU</th>
            <th width="40">活跃ARPU</th>
            <th width="40">ARPPU</th>
            <th width="30">次日留存</th>
            <th width="70">付费金额（老用户）</th>
            <th width="30">活跃用户</th>
            <th width="30">付费转化</th>
            <th width="70">付费用户数（老用户）</th>
            <th width="70">付费转化（老用户）</th>
            <th width="40">订单数量</th>
            <th width="40">2日留存</th>
            <th width="40">3日留存</th>
            <th width="40">7日留存</th>
            <th width="60">15日留存</th>
            <th width="60">30日留存</th>
            <th width="60">最后更新时间</th>
        </tr>
        </thead>
        <tbody>
            <volist name = "info" id = "val">
                <tr class="text-c">
                    <td>{$val['GroupChannel']}</td>
                    <td>{$val['name']}</td>
                    <td>{$val['t']}</td>
                    <eq name = "userinfo['channel']" value = "2">
                        <switch name = "val['GroupChannel']" >
                            <case value = "JYHD_MI">
                                <td>{$val['RegNum']}</td>
                            </case>
                            <default/>
                            <td>{$val['EquipmentRegNum']}</td>
                        </switch>
                        <else/>
                        <td>{$val['RegNum']}</td>
                        <switch name = "val['GroupChannel']" >
                            <case value = "JYHD_MI">
                                <td>{$val['RegNum']}</td>
                            </case>
                            <default/>
                            <td>{$val['EquipmentRegNum']}</td>
                        </switch>
                    </eq>
                    <td>{$val['TotalMoney']}</td>
                    <td>{$val['UserPayNum']}</td>
                    <td>{$val['RegArpu']}</td>
                    <td>{$val['ActiveArpu']}</td>
                    <td> <if condition = "$val['ARPPU']" >{$val['ARPPU']|round = 2}<else/>0.00</if> </td>
                    <td>{$val['UsersOneNum']}%</td>
                    <td>{$val['OrderTotalOld']}</td>
                    <td>{$val['ActiveNum']}</td>
                    <td>{$val['PayConversion']}%</td>
                    <td>{$val['UserPayNumOld']}</td>
                    <td>{$val['PayConversionOld']}%</td>
                    <td>{$val['Success']}</td>
                    <td>{$val['UsersTowNum']}%</td>
                    <td>{$val['UsersThreeNum']}%</td>
                    <td>{$val['UsersSevenNum']}%</td>
                    <td>{$val['UsersFifteenNum']}%</td>
                    <td>{$val['UsersThirtyNum']}%</td>
                    <td>{$val['DateTime']}</td>
                </tr>
            </volist>
        </tbody>
    </table>
</div>
<div class = "cl">
    <div style="padding-right: 20px;float: right;" 　id="DataTables_Table_0_paginate"
         class="dataTables_paginate paging_simple_numbers">{$page}</div>
</div>
<script type="text/javascript" src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

</body>
</html>
<!--导出excel-->
<script type="text/javascript">
//导出excel
    var excel = document.getElementById('excel');
    function excelData() {
        excel.submit();
    }

</script>


