<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		  content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,gprs-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
	<![endif]-->
	<link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
		  type="text/css" />
	<link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
		  type="text/css" />
	<link href="{$responseAdmin}/lib/icheck/icheck.css" rel="stylesheet"
		  type="text/css" />
	<link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
		  rel="stylesheet" type="text/css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<style type="text/css">
		th {background-color: #35638a;}
	</style>
	<title>用户先详细信息</title>
</head>
<body>
<div class="pd-20">
	<form action="" method="post" class="form form-horizontal" id="form-vipInfo-add">

		<table
				class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c" >
				<td  class="panel-header" style="background-color: #5a98de;color: #ffffff" colspan = 14>账号信息</td>
			</tr>
			<tr class="text-c">
				<th  width="30">帐号类型</th>
				<td width="30"><eq name ="catGameAccount['account_type']"  value = "1">游客<else/>自定义</eq></td>
				<th width="15">系统类型</th>
				<td width="15"><eq name ="catGameAccount['os_type']"  value = "1">苹果<else/>安卓</eq></td>
				<th width="40">mac地址</th>
				<td width="40">{$catGameAccount['mac']}</td>
				<th width="40">手机序列号</th>
				<td width="40">{$catGameAccount['imei']}</td>
				<th width="40">运营商序列号</th>
				<td width="40">{$catGameAccount['imsi']}</td>
				<th width="40">苹果uuid</th>
				<td width="40">{$catGameAccount['uuid']}</td>
			</tr>
			<tr class="text-c">
				<th  width="30">手机号</th>
				<td width="30">{$catGameAccount['mobile']}</td>
				<th width="15">账户状态</th>
				<td width="15">

					<switch name = "catGameAccount['accountstate']" >
						<case value = "1">
							正常
						</case>
						<case value = "2">
							封号
						</case>
						<case value = "3">
							3已经登录
						</case>
						<default/>
						...
					</switch>

				</td>
				<th width="40">注册时间</th>
				<td width="40">	{$catGameAccount['regtime']}</td>
				<th width="40">最后登录时间</th>
				<td width="40">	{$catGameAccount['lasttime']}</td>
				<th width="40">封号原因</th>
				<td width="40">	{$catGameAccount['block_desc']}</td>
				<th width="40">登录ip</th>
				<td width="40">	{$catGameAccount['loginip']}</td>
			</tr>
			<tr class="text-c">
				<th  width="30">注册渠道号</th>
				<td width="30">{$catGameAccount['reg_channel']}</td>
				<th width="15">登录渠道号</th>
				<td width="15">{$catGameAccount['login_channel']}</td>
				<th width="40">mac地址</th>
				<td width="40">{$catGameAccount['phone_model']}</td>
				<th width="40">手机型号</th>
				<td width="40">{$catGameAccount['phone_os_ver']}</td>
				<th width="40">手机系统版本</th>
				<td width="40">{$catGameAccount['game_ver']}</td>
				<th width="40">通讯id</th>
				<td width="40">{$catGameAccount['communiid']}</td>
			</tr>
			<tr class="text-c">
				<th  width="30">账号名</th>
				<td width="30">{$catGameAccount['account_name']}</td>
				<th width="40">最后离线时间</th>
				<td width="40">{$catGameAccount['logout_time']}</td>
				<th width="15">在线时长</th>
				<td width="15">{$catGameAccount['online_time']/60|round}</td>
				<th width="15" style="color: red;">地区（待完善）</th>
				<td width="15"></td>
			</tr>
			<tr class="text-c" >
				<td  class="panel-header" style="background-color: #5a98de;color: #ffffff" colspan = 14>玩家信息</td>
			</tr>
			<tr class="text-c">
				<th  width="30">玩家id</th>
				<td width="30">{$catGamePlayer['playerid']}</td>
				<th width="15">昵称</th>
				<td width="15">{$catGamePlayer['name']}</td>
				<th width="40">性别</th>
				<td width="40">
					<switch name = "catGameAccount['sex']" >
						<case value = "1">
							捕鱼
						</case>
						<default/>
						其他
					</switch>
				</td>
				<th width="40">游戏状态</th>
				<td width="40">
					<switch name = "catGameAccount['status']" >
						<case value = "1">
							离线
						</case>
						<case value = "2">
							在线
						</case>
						<case value = "3">
							游戏
						</case>
						<default/>
						离线
					</switch>
				</td>
				<th width="40">服务器</th>
				<td width="40">{$catGamePlayer['serverid']}</td>
				<th width="40">游戏类型</th>
				<td width="40">
					<switch name = "catGamePlayer['game_type']" >
						<case value = "1">
							离线
						</case>
						<case value = "2">
							在线
						</case>
						<case value = "3">
							游戏
						</case>
						<default/>
						未知
					</switch>
				</td>
			</tr>
			<tr class="text-c">
				<th  width="30">房间类型</th>
				<td width="30">
					<switch name = "catGamePlayer['room_type']" >
						<case value = "1">
							十炮场
						</case>
						<case value = "2">
							百炮场
						</case>
						<case value = "3">
							千炮场
						</case>
						<case value = "4">
							万炮场
						</case>
						<default/>
							离线
					</switch>
				</td>
				<th width="40">房间id</th>
				<td width="40">{$catGamePlayer['roomid']}</td>
				<th width="40">游戏等级</th>
				<td width="40">{$catGamePlayer['glevel']}</td>
				<th width="40">游戏经验</th>
				<td width="40">{$catGamePlayer['gexp']}</td>
				<th width="40">炮等级</th>
				<td width="40">{$catGamePlayer['gun_lv']}</td>
				<th  width="30">签到天数</th>
				<td width="30" colspan=2>{$catGamePlayer['sign_day']}</td>
			</tr>
			<tr class="text-c">
				<th width="40">vip等级</th>
				<td width="40">{$catGamePlayer['vip']}</td>
				<th width="40">vip经验</th>
				<td width="40">{$catGamePlayer['vip_exp']}</td>
				<th width="15">月卡</th>
				<td width="15"><if condition = "$catGamePlayer['is_mc']">是<else/>否</if></td>
				<th width="15">月卡结束时间</th>
				<td width="15">
					{$catGamePlayer['McOvertime']}
				</td>
				<th width="15">今日启动数</th>
				<td width="15"> <if condition = "$catToDayGameLoginAction[0]['num']"> {$catToDayGameLoginAction[0]['num']|round = "2"}<else/>0</if></td>
				<th width="15">昨日启动数</th>
				<td width="15"> <if condition = "$catTowDayGameLoginAction[0]['num']"> {$catTowDayGameLoginAction[0]['num']|round = "2"}<else/>0</if></td>
			</tr>
			<tr class="text-c" >
				<td  class="panel-header" style="background-color: #5a98de;color: #ffffff" colspan = 14>资产</td>
			</tr>
			<tr class="text-c">
				<th  width="30">金币</th>
				<td width="30">{$catGamePlayer['gold']}</td>
				<th width="15">钻石</th>
				<td width="15">{$catGamePlayer['diamond']}</td>
				<th width="40">存款</th>
				<td width="40">{$catGamePlayer['deposit']}</td>
				<th width="40">当日盈利</th>
				<td width="40">{$catGamePlayer['profit']}</td>
				<th width="40">冰封</th>
				<td width="40">{$catGameItem['item1_num']}</td>
				<th width="40">锁定</th>
				<td width="40">{$catGameItem['item2_num']}</td>
			</tr>
			<tr class="text-c">
				<th  width="30">小炮弹</th>
				<td width="30">{$catGameItem['item3_num']}</td>
				<th width="15">中炮弹</th>
				<td width="15">{$catGameItem['item4_num']}</td>
				<th width="40">大炮弹</th>
				<td width="40">{$catGameItem['item5_num']}</td>
				<th width="40">渔劵</th>
				<td width="40">{$catGameItem['item6_num']}</td>
			</tr>
			<tr class="text-c" >
				<td  class="panel-header" style="background-color: #5a98de;color: #ffffff" colspan = 14>充值</td>
			</tr>
			<tr class="text-c">
				<th  width="30">总充值</th>
				<td width="30">  <if condition = "$catUserOderInfo[0]['Price']"> {$catUserOderInfo[0]['Price']|round = "2"}<else/>0.00</if></td>
				<th width="15">今天充值</th>
				<td width="15"><if condition = "$catToDayUserOderInfo[0]['Price']"> {$catToDayUserOderInfo[0]['Price']|round = "2"}<else/>0.00</if></td>
				<th width="40">昨日充值</th>
				<td width="40"><if condition = "$catTowDayUserOderInfo[0]['Price']"> {$catTowDayUserOderInfo[0]['Price']|round = "2"}<else/>0.00</if></td>
			</tr>
			</thead>
		</table>
	</form>
</div>
</div>
<script type="text/javascript"
		src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"
		src="{$responseAdmin}/lib/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript"
		src="{$responseAdmin}/lib/Validform/5.3.2/Validform.min.js"></script>
<script type="text/javascript"
		src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>

<literal>
	<script type="text/javascript">
        $(function() {
            $('.skin-minimal input').iCheck({
                checkboxClass : 'icheckbox-blue',
                radioClass : 'iradio-blue',
                increaseArea : '20%'
            });

            $("#form-vipInfo-add").Validform({
                tiptype : 2,

                callback : function(form) {
                    form[0].submit();
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.$('.btn-refresh').click();
                    parent.layer.close(index);
                }
            });


        });

	</script>

</literal>

</body>
</html>