<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,menu-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
	rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>商品列表</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		大厅配置 <span class="c-gray en">&gt;</span>商品列表 <a
			class="btn btn-success radius r mr-20"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>

	<div class="pd-20">
		<!--搜索 -->
		<form action="" method="get">
			<input type="hidden" name="m" value="jy_admin" />
			<input type="hidden" name="c" value="GoodsAll" />
			<input type="hidden" name="a" value="index" />
			<div class="text-c">
				<span style="width: 150px" class="select-box">
					<select size="1" name="Platform" class="select">
						<option value="">平台</option>
						<option value="1"<if  condition= "$search['Platform'] eq '1'">selected</if>>全部</option>
						<option value="2"<if condition="$search['Platform'] eq '2'" >selected</if>>苹果</option>
						<option value="3"<if condition="$search['Platform'] eq '3'" >selected</if>>安卓</option>
					</select>
				</span>
				<span style="width: 150px" class="select-box">
					<select size="1" name="ShowType" class="select">
						<option value="">展示方式</option>
						<option value="1"<if  condition= "$search['ShowType'] eq '1'">selected</if>>商城</option>
						<option value="2"<if  condition= "$search['ShowType'] eq '2'">selected</if>>首冲礼包</option>
						<option value="3"<if  condition= "$search['ShowType'] eq '3'">selected</if>>月卡</option>
						<option value="4"<if  condition= "$search['ShowType'] eq '4'">selected</if>>兑换商城</option>
						<option value="0"<if  condition= "$search['ShowType'] eq '0'">selected</if>>其它</option>

					</select>
				</span>
				<span style="width: 150px" class="select-box">
					<select size="1" name="CateGory" class="select">
						<option value="">类别</option>
						<option value="1"<if  condition= "$search['CateGory'] eq '1'">selected</if>>金币</option>
						<option value="2"<if condition="$search['CateGory'] eq '2'" >selected</if>>钻石</option>
						<option value="3"<if condition="$search['CateGory'] eq '3'" >selected</if>>道具</option>
						<option value="4"<if condition="$search['CateGory'] eq '4'" >selected</if>>礼包</option>
						<option value="0"<if condition="$search['CateGory'] eq '0'" >selected</if>>其它</option>
					</select>
				</span>
				<span style="width: 150px" class="select-box">
					<select size="1" name="Type" class="select">
						<option value="">类型</option>
						<option value="1"<if  condition= "$search['Type'] eq '1'">selected</if>>金币</option>
						<option value="2"<if condition="$search['Type'] eq '2'" >selected</if>>钻石</option>
						<option value="3"<if condition="$search['Type'] eq '3'" >selected</if>>道具</option>
						<option value="4"<if condition="$search['Type'] eq '4'" >selected</if>>话费卡</option>
						<option value="5"<if condition="$search['Type'] eq '5'" >selected</if>>京东卡</option>
						<option value="6"<if condition="$search['Type'] eq '6'" >selected</if>>实物</option>
						<option value="0"<if condition="$search['Type'] eq '0'" >selected</if>>其它</option>
					</select>
				</span>
				<span style="width: 150px" class="select-box">
					<select size="1" name="Status" class="select">
						<option value="">状态</option>
						<option value="1" 	<if  condition= "$search['Status'] eq '1'">selected</if> >已上架</option>
						<option value="2"	<if condition="$search['Status'] eq '2'" >selected</if> >待上架</option>
						<option value="3"	<if condition="$search['Status'] eq '3'" >selected</if> >待下架</option>
						<option value="4"	<if condition="$search['Status'] eq '4'" >selected</if> >已下架</option>
					</select>
				</span>
				 <input  type="text" class="input-text" style="width: 250px"  placeholder="请输商品标识" id="" value="{$search['Code']}"
					name="Code">
				<input  type="text" class="input-text" style="width: 250px"  placeholder="请输入商品名称" id="" value="{$search['Name']}"
						name="Name">
				<button type="submit" class="btn btn-success" id="" name="">
					<i class="Hui-iconfont">&#xe665;</i> 搜索
				</button>
			</div>
		</form>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l"> <a href="javascript:;"
								onclick="GoodsAll_add('添加','/jy_admin/GoodsAll/add')"
								class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加商品</a>
			</span>
		</div>
		<table
			class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="30">id</th>
					<th width="100">商品标识</th>
					<th width="100">商品名称</th>
					<th width="100">购买货币</th>
					<th width="100">获得数量</th>
					<th width="100">发行量</th>
					<th width="100">状态</th>
					<th width="100">展示方式</th>
					<th width="100">类别</th>
					<th width="100">类型</th>
					<th width="60">等级限制</th>
					<th width="60">vip限制</th>

					<th width="100">赠送</th>
					<th width="100">信息</th>
					<th width="120">创建时间</th>
					<th width="120">更新时间</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
			<volist name = "info" id = "val">
				<tr class="text-c">
					<td>{$val['Id']}</td>
					<td>{$val['Code']}</td>
					<td>{$val['Name']}</td>
					<td>
						<switch name = "val['CurrencyType']" >
							<case value = "1">
								人民币
							</case>
							<case value = "2">
								金币
							</case>
							<case value = "3">
								钻石
							</case>
							<case value = "4">
								鱼劵
							</case>
							<default/>
							...
						</switch>
					</td>
					<td>{$val['GetNum']}</td>
					<td>
						<eq name = "val['IssueType']" value ="1">
							不限
						<else/>
							{$val['IssueNum']}
						</eq>
					</td>
					<td>
						<switch name = "val['Status']" >
							<case value = "1">
								已上架
							</case>
							<case value = "2">
								待上架
							</case>
							<case value = "3">
								待下架
							</case>
							<case value = "4">
								已下架
							</case>
							<default/>
							...
						</switch>
					</td>
					<td>
						<switch name = "val['ShowType']" >
							<case value = "1">
								商城
							</case>
							<case value = "2">
								首冲礼包
							</case>
							<case value = "3">
								月卡
							</case>
							<case value = "4">
								兑换商城
							</case>
							<case value = "0">
								其他
							</case>
							<default/>
							...
						</switch>
					</td>
					<td>
						<switch name = "val['CateGory']" >
							<case value = "1">
								金币
							</case>
							<case value = "2">
								砖石
							</case>
							<case value = "3">
								道具
							</case>
							<case value = "4">
								礼包
							</case>
							<case value = "0">
								其它
							</case>
							<default/>
							...
						</switch>
					</td>
					<td>
						<switch name = "val['Type']" >
							<case value = "1">
								金币
							</case>
							<case value = "2">
								砖石
							</case>
							<case value = "3">
								道具
							</case>
							<case value = "4">
								话费卡
							</case>
							<case value = "5">
								京东卡
							</case>
							<case value = "6">
								实物
							</case>
							<case value = "0">
								其它
							</case>
							<default/>
							...
						</switch>
					</td>
					<td>
						<eq name = "val['LimitLevel']" value ="0">
							不限
							<else/>
							{$val['LimitLevel']}
						</eq>
					</td>
					<td>
						<eq name = "val['LimitVip']" value ="0">
							不限
							<else/>
							{$val['LimitVip']}
						</eq>
					</td>
					<td>
						<empty name = "val['GiveInfo']">
							无
						<else/>
							<a  style="color:red" onclick="GoodsAll_GiveList('赠送商品','/jy_admin/GoodsAll/GiveList/id/{$val['Id']}')">查看</a>
						</empty>

					</td>
					<td>
						<a  style="color:red" onclick="GoodsAll_information('信息','/jy_admin/GoodsAll/information/id/{$val['Id']}')">查看</a>
					</td>
					<td>
						{$val['UpTime']}
					</td>
					<td>
						{$val['DateTime']}
					</td>
					<td class="td-manage">

						<a title="编辑" href="javascript:;" onclick="GoodsAll_edit('编辑','/jy_admin/GoodsAll/edit/id/{$val['Id']}','','600')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a title="删除" href="javascript:;" onclick="GoodsAll_del(this,'{$val['Id']}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
			</volist>
			</tbody>
		</table>
	</div>
	<div class = "cl">

		<div style="padding-right: 20px;float: right;" 　id="DataTables_Table_0_paginate"
			 class="dataTables_paginate paging_simple_numbers">{$page}</div>
	</div>


	<script type="text/javascript" src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
</body>
</html>
<literal>
<script>

/*商品-添加*/
function GoodsAll_add(title,url){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}


/*商品-添加*/
function GoodsAll_edit(title,url){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
}

/*商品-信息*/
function GoodsAll_information(title,url){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
}


/*商品-赠送*/
function GoodsAll_GiveList(title,url){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
}



/*商品-删除*/
function GoodsAll_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.post('/jy_admin/GoodsAll/del',{'id':id},function(msg){
			if(msg == 1){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			}else{
				layer.msg('删除失败!',{icon:1,time:1000});
			}
		});
		
	});
}
</script>
</literal>
