<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,menu-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
	rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>支付配置</title>
</head>
<body>

	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
		支付管理 <span class="c-gray en">&gt;</span>支付配置 <a
			class="btn btn-success radius r mr-20"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="pd-20">
		<!--搜索 -->
		<form action="" method="get">
            <input type="hidden" name="m" value="jy_admin" />
            <input type="hidden" name="c" value="ThirdpayInfo" />
            <input type="hidden" name="a" value="index" />
			<div class="text-c">
				<span style="width: 150px" class="select-box">
					<select size="1" name="Platform" class="select">
						<option value="">平台</option>
						<option value="1"<if  condition= "$search['Type'] eq '1'">selected</if>>苹果</option>
						<option value="2"<if condition="$search['Type'] eq '2'" >selected</if>>安卓</option>
					</select>
				</span>
				<span style="width: 150px" class="select-box">
					<select size="1" name="Type" class="select">
						<option value="">支付类型</option>
						<option value="1"<if  condition= "$search['Type'] eq '1'">selected</if>>支付宝</option>
						<option value="2"<if condition="$search['Type'] eq '2'" >selected</if>>微信</option>
						<option value="3"<if condition="$search['Type'] eq '3'" >selected</if>>爱贝</option>
					</select>
				</span>
				<input
					type="text" class="input-text" style="width: 10%;"
					placeholder="请输入支付通道"  value="{$search['PassAgeWay']}"
					name="PassAgeWay">
				<button type="submit" class="btn btn-success"  name="">
					<i class="Hui-iconfont">&#xe665;</i> 搜索
				</button>
			</div>
		</form>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l" style="margin-right: 1%;"> <a href="javascript:;"
				onclick="ThirdpayInfo_add_alipay('添加支付宝','/jy_admin/ThirdpayInfo/AlipayAdd','','600')"
				class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加支付宝</a>
			</span>

			<span class="l" style="margin-right: 1%;"> <a href="javascript:;"
								onclick="ThirdpayInfo_add_wechat('添加微信','/jy_admin/ThirdpayInfo/WechatAdd','','600')"
								class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加微信</a>
			</span>
			<span class="l"> <a href="javascript:;"
								onclick="ThirdpayInfo_add_wechat('添加微信','/jy_admin/ThirdpayInfo/IappayAdd','','600')"
								class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					添加爱贝</a>
			</span>
		</div>

		<table
			class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
				    <th width="30">id</th>
					<th width="60">支付名称</th>
					<th width="60">支付渠道</th>
					<th width="60">支付类型</th>
					<th width="60">版本支持</th>
					<th width="60">平台</th>
					<th width="60">通道描述</th>
					<th width="60">创建时间</th>
					<th width="30">操作</th>
				</tr>
			</thead>
			<tbody>
				<volist name = "info" id ="val">
					<tr class="text-c">
						<td>{$val['Id']}</td>
						<td>{$val['Name']}</td>
						<td>{$val['PassAgeWay']}</td>
						<td>
							<switch name = "val['Type']" >
								<case value = "1">
									支付宝
								</case>
								<case value = "2">
									微信
								</case>
								<case value = "3">
									爱贝
								</case>
								<default/>
								...
							</switch>
						</td>
						<td>
							<switch name = "val['Support']" >
								<case value = "1">
									{$val['VersionStart']}~{$val['VersionEnd']}
								</case>
								<case value = "2">
									所有版本
								</case>
								<default/>
								...
							</switch>
						</td>
						<td>
							<switch name = "val['Platform']" >
								<case value = "1">
									苹果
								</case>
								<case value = "2">
									安卓
								</case>
								<default/>
								...
							</switch>
						</td>
						<td>{$val['Describe']}</td>
						<td>{$val['DateTime']}</td>
						<td>

							<switch name = "val['Type']" >
								<case value = "1">
									<a title="编辑" href="javascript:;" onclick="ThirdpayInfo_edit_alipay('编辑','/jy_admin/ThirdpayInfo/AlipayEdit/Id/{$val['Id']}','','600')" class="ml-5" style="text-decoration:none">
										<i class="Hui-iconfont">&#xe6df;</i>
									</a>
								</case>
								<case value = "2">
									<a title="编辑" href="javascript:;" onclick="ThirdpayInfo_edit_wechat('编辑','/jy_admin/ThirdpayInfo/WechatEdit/Id/{$val['Id']}','','600')" class="ml-5" style="text-decoration:none">
										<i class="Hui-iconfont">&#xe6df;</i>
									</a>
								</case>
								<case value = "3">
									<a title="编辑" href="javascript:;" onclick="ThirdpayInfo_edit_wechat('编辑','/jy_admin/ThirdpayInfo/IappayEdit/Id/{$val['Id']}','','600')" class="ml-5" style="text-decoration:none">
										<i class="Hui-iconfont">&#xe6df;</i>
									</a>
								</case>
								<default/>
								...
							</switch>

							<a title="删除" href="javascript:;" onclick="ThirdpayInfo_del(this,'{$val['Id']}')" class="ml-5" style="text-decoration:none">
								<i class="Hui-iconfont">&#xe6e2;</i>
							</a>
						</td>

					</tr>
				</volist>
			</tbody>
		</table>
	</div>
	<div class = "cl">

		<div style="padding-right: 20px;float: right;" 　id="DataTables_Table_0_paginate"
			 class="dataTables_paginate paging_simple_numbers">{$page}</div>
	</div>

</div>
	<script type="text/javascript" src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>

</body>
</html>
<literal>
<script>
/*支付信息-支付宝添加*/

function ThirdpayInfo_add_alipay(title,url){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
}
/*支付信息-支付宝修改*/

function ThirdpayInfo_edit_alipay(title,url){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
}
/*支付信息-微信添加*/

function ThirdpayInfo_add_wechat(title,url){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
}

/*支付信息-微信修改*/

function ThirdpayInfo_edit_wechat(title,url){
    var index = layer.open({
        type: 2,
        title: title,
        content: url
    });
    layer.full(index);
}


/*管理员-编辑*/
function adminUsers_edit(title,url,w,h){
    layer_show(title,url,w,h);
}
/*管理员-停用*/
function adminUsers_stop(obj, id) {
    layer.confirm('确认要锁定吗？', function (index) {
        $.post('/jy_admin/AdminUsers/stop', {'id':id}, function (msg) {
            if (msg == 1) {
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="adminUsers_start(this,' + id + ')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">锁定</span>');
                $(obj).remove();
                layer.msg('已锁定!', {icon: 5, time: 1000});
            } else {
                layer.msg('锁定失败!', {icon: 5, time: 1000});
            }
        });
    });
}

/*管理员-启用*/
function adminUsers_start(obj, id) {
    layer.confirm('确认要启用吗？', function (index) {
        $.post('/jy_admin/AdminUsers/start', {'id':id}, function (msg) {
            if (msg == 1) {
                console.log(msg);
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="adminUsers_stop(this,' + id + ')" href="javascript:;" title="锁定"><i class="Hui-iconfont">&#xe631;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">正常</span>');
                $(obj).remove();
                layer.msg('已启用!', {icon: 6, time: 1000});
            } else {
                layer.msg('启用失败!', {icon: 5, time: 1000});
            }
        });
    });
}
 
/*支付信息-删除*/
function ThirdpayInfo_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.post('/jy_admin/ThirdpayInfo/del',{'Id':id},function(msg){
			if(msg == 1){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			}else{
				layer.msg('删除失败!',{icon:1,time:1000});
			}
		});
		
	});
}

</script>
</literal>
