<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,gprs-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/lib/icheck/icheck.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
	rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>子活动添加</title>
</head>
<body>
	<div class="pd-20">

		<form action="" method="post" class="form form-horizontal" id="form-vipInfo-add">
			<input type="hidden" name="Id" value="{$info['Id']}">
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>标题：</label>
				<div class="formControls col-1">
					<input type="text" class="input-text" value="{$info['SonTitle']}" placeholder=""
						   name="SonTitle" datatype="*" nullmsg="">

				</div>
				<div class="col-1"></div>
				<label class="form-label col-1"><span class="c-red">*</span>达成条件值：</label>
				<div class="formControls col-1">
					<input type="text" class="input-text" value="{$info['Schedule']}" placeholder=""
						   name="Schedule" datatype="*1-16" nullmsg="">
				</div>
				<div class="col-1"></div>
			</div>
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>活动类型值：</label>
				<div class="formControls col-1">
					<div style="width:100%;text-align:center;float:left">
							<span class="select-box">
								<select  class="select "  disabled = "disabled"  nullmsg="" >
									<volist name = "StlyeValue" id ="val">
										<option      <if condition = "$val['Value'] eq $info['TypeCode']"> selected = "true"</if> value="{$val['Value']}">{$val['Name']}</option>
									</volist>
								</select>
							</span>
					</div>
				</div>
				<div class="col-1"></div>
				<label class="form-label col-1"><span class="c-red"></span>排序：</label>
				<div class="formControls col-1">
					<input type="text" class="input-text" value="{$info['Sort']}" placeholder=""
						   name="Sort"  nullmsg="">
				</div>
				<div class="col-1"></div>
			</div>

			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>是否跳转：</label>
				<div class="formControls col-2 skin-minimal">
					<div class="radio-box">
						<input type="radio" id="StopPay-2"   <if condition = "$info['Jump'] eq 1">  checked = "true" </if>   value="1" name="Jump">
						<label for="StopPay-2">否</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="StopPay-1"    <if condition = "$info['Jump'] eq 2"> checked = "true" </if>  value="2"  name="Jump">
						<label for="StopPay-1">是</label>
					</div>

				</div>
				<div class="col-1"> </div>
			</div>

			<div id = "parent" >
				<div class="row cl GiveInfo"  >
					<label class="form-label col-3"><span class="c-red"></span></label>
					<div class="formControls col-1">
						<div style="width:100%;text-align:center;float:left">
							<span class="select-box">
								<select  class="select GoodsType"  name = "GiveInfo[0][Type]" datatype="*"  onchange="selectGoodsFun(this)" nullmsg="" >
									 <option value="">请选择类型</option>
									 <option <eq name ="GiveInfo[0]['Type']" value ="1">selected ="true"</eq>  value="1">金币</option>
									 <option <eq name ="GiveInfo[0]['Type']" value ="2">selected ="true"</eq> value="2">钻石</option>
									 <option <eq name ="GiveInfo[0]['Type']" value ="3">selected ="true"</eq> value="3">道具</option>
								</select>
							</span>
						</div>
					</div>
					<div class="col-1"></div>
					<div class="formControls col-1">
						<div style="width:100%;text-align:center;float:left">
		        		<span class="select-box">
							<select  class="select GoodsID" name = "GiveInfo[0][GoodsID]"    onchange="GetNumFun(this)"   datatype="*" nullmsg="" >
								 <option value="">请选择商品</option>
								<volist name = "GoodsAllList" id="val">
								 		<option class="type{$val['Type']}"   <if condition = "$val['Type'] neq   $GiveInfo[0]['Type']">style="display: none;"</if> <if condition = "$val['Id'] eq  $GiveInfo[0]['GoodsID']">selected ="true"</if>   GetNum = "{$val['GetNum']}"   Code = "{$val['Code']}"   style="display: none;" value="{$val['Id']}">{$val['Name']}</option>
								</volist>
                            </select>
						</span>
						</div>
					</div>

					<div class="formControls col-1">
						<input type="text"  class="input-text Number"  datatype="*" value="{$GiveInfo[0]['Number']}" placeholder="请输入倍数"
							   name="GiveInfo[0][Number]"  nullmsg="">
						<input type="hidden"  class="input-text GetNum"   value="{$GiveInfo[0]['GetNum']}" placeholder=""
							   name="GiveInfo[0][GetNum]"  nullmsg="">
						<input type="hidden"  class="input-text Code"   value="{$GiveInfo[0]['Code']}" placeholder=""
							   name="GiveInfo[0][Code]"  nullmsg="">
					</div>

					<div class="formControls col-1">
						<input type="text"  class="input-text GoodName"  datatype="*" value="{$GiveInfo[0]['GoodsName']}" placeholder="请输入名称"
							   name="GiveInfo[0][GoodsName]"  nullmsg="">
					</div>
					<div class="formControls col-1">
						<input type="text"  class="input-text ImgCode"  datatype="*" value="{$GiveInfo[0]['ImgCode']}" placeholder="请输入名称"
							   name="GiveInfo[0][ImgCode]"  nullmsg="">
					</div>

					<div class="formControls col-0 operation"  index ={$GiveInfo|count} onclick="GiveInfoAdd(this)">
						<input class="btn btn-primary radius"  type="button"  value="增加">
					</div>
				</div>
			</div>
			<div id ="child">

				<volist name = "GiveInfo" id = "v" key ="k">
					<if condition = "$k gt 1 ">

						<div class="row cl GiveInfo"  >
							<label class="form-label col-3"><span class="c-red"></span></label>
							<div class="formControls col-1">
								<div style="width:100%;text-align:center;float:left">
							<span class="select-box">
								<select  class="select GoodsType"  name = "GiveInfo[{$k}][Type]" datatype="*"  onchange="selectGoodsFun(this)" nullmsg="" >
									 <option value="">请选择类型</option>
									<option   <if condition ="$v[Type] eq 1" >selected ="true"</if>  value="1">金币</option>
									<option  <if condition ="$v[Type] eq 2" >selected ="true"</if>  value="2">钻石</option>
									<option  <if condition ="$v[Type] eq 3" >selected ="true"</if>  value="3">道具</option>
								</select>
							</span>
								</div>
							</div>
							<div class="col-1"></div>
							<div class="formControls col-1">
								<div style="width:100%;text-align:center;float:left">
		        		<span class="select-box">
							<select  class="select GoodsID" name = "GiveInfo[{$k}][GoodsID]"  onchange="GetNumFun(this)"  datatype="*" nullmsg="" >
								 <option value="">请选择商品</option>
								<volist name = "GoodsAllList" id="val">
									<option class="type{$val['Type']}"  <if condition = "$v['Type'] neq   $val[Type]">style="display: none;"</if> <if condition = "$val['Id'] eq  $v['GoodsID']">selected ="true"</if>  GetNum = "{$val['GetNum']}"   Code = "{$val['Code']}"   value="{$val['Id']}">{$val['Name']}</option>
								</volist>
                            </select>
						</span>
					</div>
							</div>

							<div class="formControls col-1">
								<input type="text"  class="input-text Number"  datatype="*" value="{$v['Number']}" placeholder="请输入倍数"
									   name="GiveInfo[{$k}][Number]"  nullmsg="">
								<input type="hidden"  class="input-text GetNum"  datatype="*" value="{$v['GetNum']}" placeholder=""
									   name="GiveInfo[{$k}][GetNum]"  nullmsg="">
								<input type="hidden"  class="input-text Code"   value="{$v['Code']}" placeholder=""
									   name="GiveInfo[{$k}][Code]"  nullmsg="">
							</div>
							<div class="formControls col-1">
								<input type="text"  class="input-text GoodName"  datatype="*" value="{$v['GoodsName']}" placeholder="请输入名称"
									   name="GiveInfo[{$k}][GoodsName]"  nullmsg="">
							</div>
							<div class="formControls col-1">
								<input type="text"  class="input-text ImgCode"  datatype="*" value="{$v['ImgCode']}" placeholder="请输入图片"
									   name="GiveInfo[{$k}][ImgCode]"  nullmsg="">
							</div>

							<div class="formControls col-0 operation"  onclick="GiveInfoDel(this)">
								<input class="btn btn-primary radius" type="button"  value="删除">
							</div>
						</div>
					</if>

				</volist>

			</div>

			<div class="row cl">
				<label class="form-label col-3"><span class="c-red"></span>说明：</label>
				<div class="formControls col-5">
					<textarea     name="Explain"  style="width:100%" rows="20"  >{$info['Explain']}</textarea>
				</div>
				<div class="col-4"></div>
			</div>
			<div class="row cl">
				<div class="col-1 col-offset-4">
					<button  class="btn btn-primary radius" type="submit" name  = "ConfStatus" value="1">保存配置</button>
				</div>
				<div class="col-1">
					<button  class="btn btn-primary radius" type="submit" name  = "ConfStatus" value="2">发布配置</button>
				</div>
			</div>
		</form>
	</div>
	</div>
	<script type="text/javascript"
		src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="{$responseAdmin}/lib/icheck/jquery.icheck.min.js"></script>
	<script type="text/javascript"
		src="{$responseAdmin}/lib/Validform/5.3.2/Validform.min.js"></script>
	<script type="text/javascript"
		src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>

	<literal>
	<script type="text/javascript">
		$(function() {
			$('.skin-minimal input').iCheck({
				checkboxClass : 'icheckbox-blue',
				radioClass : 'iradio-blue',
				increaseArea : '20%'
			});

			$("#form-vipInfo-add").Validform({
				tiptype : 2,
                datatype:{
                    'TypeCode':function (gets) {
                        if(gets ==''){
                            return false;
                        }
                        //验证等级存在
                        var _Verification = true;
                        $.ajax(
                            {
                                type:"POST",
                                url:'/jy_admin/ActivityConfig/TypeCodeVerification',
                                async:false,
                                data:{'TypeCode':gets},
                                success:function (msg) {
                                    console.log(msg);
                                    if(msg == 0){
                                        _Verification =   '类型已存在';
                                    }else if(msg == 1){
                                        _Verification =   true;
                                    }
                                }
                            }
                        );
                        return   _Verification;

                    }

				},
				callback : function(form) {
					form[0].submit();

				}
			});

		});
        //增加
        function GiveInfoAdd(my) {
            var  parent    = document.getElementById('parent');
            var  child     = document.getElementById('child');
            var  GiveInfo  = document.getElementsByClassName('GiveInfo');
            var  del       = document.getElementById('del');
			var  index     = my.getAttribute('index');
            index++;
//            child.innerHTML +=  parent.innerHTML;


            var div = document.createElement("div");
            div.innerHTML = parent.innerHTML;
            child.appendChild(div);

            var Id 				=  document.getElementsByClassName('GoodsID');
            var Length			=  Id.length;
            var GetNum 			=  document.getElementsByClassName('GetNum');
            var Number 			=  document.getElementsByClassName('Number');
            var GoodsType 		=  document.getElementsByClassName('GoodsType');
            var GoodName		=  document.getElementsByClassName('GoodName');
            var Code		=  document.getElementsByClassName('Code');
            var ImgCode		=  document.getElementsByClassName('ImgCode');
            var operation 		=  document.getElementsByClassName('operation');
			var operationVal	=   operation[Length-1].getElementsByTagName('input')[0];
			GoodsType[Length-1].setAttribute('name','GiveInfo['+index+'][Type]');
            GetNum[Length-1].setAttribute('name','GiveInfo['+index+'][GetNum]');
            Number[Length-1].setAttribute('name','GiveInfo['+index+'][Number]');
            GoodName[Length-1].setAttribute('name','GiveInfo['+index+'][GoodsName]');
            Code[Length-1].setAttribute('name','GiveInfo['+index+'][Code]');
            ImgCode[Length-1].setAttribute('name','GiveInfo['+index+'][ImgCode]');
            Id[Length-1].setAttribute('name','GiveInfo['+index+'][GoodsID]');
			operation[Length-1].setAttribute('onclick','GiveInfoDel(this)');


            operationVal.setAttribute('value','删除');
            my.setAttribute('index',index);
			
        }
        function GiveInfoDel(my) {
            var  child    = document.getElementById('child');
            var  MyParent = my.parentNode;
            child.removeChild(MyParent);
        }
        //选择商品
        function  selectGoodsFun(my) {
            var GoodsType 					= document.getElementsByClassName('GoodsType');
            var GoodsID 					= document.getElementsByClassName('GoodsID');
            for(i=0;i<GoodsType.length;i++){
                GoodsType[i].index = i;
            }
            var MyIndex 			= my.index;
            var GoodsIDSelect 		= GoodsID[MyIndex];
            var seleIndex           = my.selectedIndex;
            var selectValue			= my.options[seleIndex].value;
            var selectOptions       = my.options;
            var IdSelectOptionType 		= GoodsIDSelect.getElementsByClassName('type'+selectValue);
            var IdSelectOption 		= GoodsIDSelect.options;
            for(j = 0;j<IdSelectOption.length;j++){
                if(j>0){
                    IdSelectOption[j].style.display = "none";
                }
            }
            for(k=0;k<IdSelectOptionType.length;k++){
                IdSelectOptionType[k].style.display = "inline-block";
            }

        }

		function GetNumFun(my) {
            var seleIndex                = my.selectedIndex;
            var selectValue			       = my.options[seleIndex].getAttribute('GetNum');
            var CodeValue			       = my.options[seleIndex].getAttribute('Code');

            console.log(CodeValue);

            var GoodsID 					= document.getElementsByClassName('GoodsID');
            for(i=0;i<GoodsID.length;i++){
                GoodsID[i].index = i;
            }
            var MyIndex 			= my.index;
            var GetNum				= document.getElementsByClassName('GetNum');
            var Code				= document.getElementsByClassName('Code');
            GetNum[MyIndex].value = selectValue;
            Code[MyIndex].value = CodeValue;
        }


	</script>
	</literal>
</body>
</html>