<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,menu-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
	rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>所有订单</title>
</head>
<body>
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;用户中心</span>
		 <span class="c-gray en">&gt;所有订单</span> <a
			class="btn btn-success radius r mr-20"
			style="line-height: 1.6em; margin-top: 3px"
			href="javascript:location.replace(location.href);" title="刷新"><i
			class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="pd-20">
		<!--搜索 -->
		<form action="" method="get">
            <input type="hidden" name="m" value="jy_admin" />
            <input type="hidden" name="c" value="AdminUsers" />
            <input type="hidden" name="a" value="index" />
			<div class="text-c">
				创建时间： <input type="text"
					onfocus="<literal>WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})</literal>"
					id="datemin" value="{$search['datemin']}" name="datemin"
					class="input-text Wdate" style="width: 120px;"> <input
					type="text"
					onfocus="<literal>WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:''})</literal>"
					id="datemax" value="{$search['datemax']}" name="datemax"
					class="input-text Wdate" style="width: 120px;">
				<input type="text" class="input-text" style="width: 10%" placeholder="输入订单号"   value="{$search['PlatformOrder']}" name="PlatformOrder">
				<input type="text" class="input-text" style="width: 7%" placeholder="输入用户ID"   value="{$search['playerid']}" name="playerid">
				<span style="width: 6%" class="select-box">
					<select size="1" name="Channel"
							class="select">
						<option value="">渠道</option>
						<volist name = "Channel" id = "val">
								<option value="{$val['account']}" <if  condition= "$search['Channel'] eq $val['account']">selected</if>>{$val['name']}</option>
						</volist>
					</select>
				</span>
				<span style="width: 6%"
					  class="select-box">
					<select size="1" name="PayPlatform"
							class="select">
						<option value="">支付平台</option>
						<option value="1" <if  condition= "$search['PayPlatform'] eq '1'">selected</if>>支付宝</option>
						<option value="2" <if  condition="$search['PayPlatform'] eq '2'" >selected</if>>微信</option>
						<option value="3" <if  condition="$search['PayPlatform'] eq '3'" >selected</if>>爱贝</option>
						<option value="4" <if  condition="$search['PayPlatform'] eq '4'" >selected</if>>银联</option>
				</select>
				</span>
				<span style="width: 6%"
					  class="select-box">
					<select size="1" name="Platform"
							class="select">
						<option value="">平台</option>
						<option value="1" <if  condition= "$search['Platform'] eq '1'">selected</if>>苹果</option>
						<option value="2" <if  condition="$search['Platform'] eq '2'" >selected</if>>安卓</option>
				</select>
				</span>
				<span style="width: 6%"
					class="select-box">
					<select size="1" name="Status"
					class="select">
						<option value="">订单状态</option>
						<option value="1" <if  condition= "$search['Status'] eq '1'">selected</if>>待支付</option>
						<option value="2" <if  condition="$search['Status'] eq '2'" >selected</if>>已经支付</option>
						<option value="3" <if  condition="$search['Status'] eq '3'" >selected</if>>订单过期</option>
						<option value="4" <if  condition="$search['Status'] eq '4'" >selected</if>>支付失败</option>
				</select>
				</span>
				<button type="submit" class="btn btn-success" id="" name="">
					<i class="Hui-iconfont">&#xe665;</i> 搜索
				</button>
			</div>
		</form>
		<div class="cl pd-5 bg-1 bk-gray mt-20">
			<span class="l"> <a href="javascript:;" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i>
					导出excel</a>
			</span>
		</div>
		<div   style="margin-top: 10px;"  class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">订单总额 <a style="color: red;">{$Price}</a> 人民币 </div>
		<table
			class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
				    <th width="30">id</th>
					<th width="60">订单名</th>
					<th width="60">订单号</th>
					<th width="60">金额/元</th>
					<th width="60">用户名</th>
					<th width="60">用户ID</th>
					<th width="60">物品</th>
					<th width="60">订单状态</th>
					<th width="60">支付渠道</th>
					<th width="60">手机系统</th>
					<th width="60">支付类型</th>
					<th width="60">支付通道</th>
					<th width="60">支付时间</th>
					<th width="60">下单时间</th>
				</tr>
			</thead>
			<tbody>
				<volist name ="info" id ="val">
					<tr class="text-c">
					<td width="30">{$val['Id']}</td>
					<td width="60">{$val['OrderName']}</td>
					<td width="60">{$val['PlatformOrder']}</td>
					<td width="60">{$val['Price']}</td>
					<td width="60">{$val['UsersName']}</td>
					<td width="60">{$val['playerid']}</td>
					<td width="60">
						<a  style="color:red" onclick="UsersOrder_authority('物品列表','/jy_admin/UsersOrder/authority/playerid/{$val['playerid']}/PlatformOrder/{$val['PlatformOrder']}')">查看</a>
					</td>
					<td width="60">
						<switch name = "val['Status']" >
							<case value = "1">
								待支付
							</case>
							<case value = "2">
								已支付
							</case>
							<case value = "3">
								订单过期
							</case>
							<case value = "4">
								支付失败
							</case>
							<default/>
							...
						</switch>
					</td>
					<td width="60">{$val['PayChannel']}</td>
					<td width="60">
						<switch name = "val['Platform']" >
							<case value = "1">
								苹果
							</case>
							<case value = "2">
								安卓
							</case>
							<default/>
							...
						</switch>
					</td>
					<td width="60">
						<switch name = "val['PayPlatform']" >
							<case value = "1">
								支付宝
							</case>
							<case value = "2">
								微信
							</case>
							<case value = "3">
								爱贝
							</case>
							<case value = "4">
								金立
							</case>
							<default/>
							...
						</switch>
					</td>
					<td width="60">{$val['PayPassAgeWay']}</td>
					<td width="60">{$val['CallbackTime']}</td>
					<td width="60">{$val['FoundTime']}</td>
					</tr>
				</volist>
			</tbody>
		</table>
	</div>
	<div class = "cl">

		<div style="padding-right: 20px;float: right;" 　id="DataTables_Table_0_paginate"
			 class="dataTables_paginate paging_simple_numbers">{$page}</div>
	</div>


	<script type="text/javascript" src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
</body>
</html>
<literal>
<script>


function UsersOrder_authority(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}
</script>
</literal>
