<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,menu-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
    <script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
    <![endif]-->
    <link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
          type="text/css" />
    <link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
          rel="stylesheet" type="text/css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>版本分布</title>
</head>
<body>
<nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>
    活跃分析 <span class="c-gray en">&gt;</span>版本分布 <a
        class="btn btn-success radius r mr-20"
        style="line-height: 1.6em; margin-top: 3px"
        href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="pd-20">
    <!--搜索 -->
    <form action="" method="get">
        <input type="hidden" name="m" value="jy_admin" />
        <input type="hidden" name="c" value="RegisterMacroscopic" />
        <input type="hidden" name="a" value="index" />
        <div class="text-c">
            创建时间： <input type="text"
                         onfocus="<literal>WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})</literal>"
                         id="datemin" value="{$search['DateTime']}" name="DateTime"
                         class="input-text Wdate" style="width: 120px;">  <input
                type="text"
                onfocus="<literal>WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:''})</literal>"
                id="datemax" value="{$search['datemax']}" name="datemax"
                class="input-text Wdate" style="width: 120px;">

            <span style="width: 150px" class="select-box">
                <select size="1" name="Version" class="select">
                    <option value=""  >版本号</option>
                    <volist name = "GameVer" id = "val">
                        <option value="{$val['Version']}" <if  condition= "$search['Version'] eq $val['Version']">selected</if> >{$val['Version']}</option>
                    </volist>
				</select>
			</span>
            <button type="submit" class="btn btn-success" id="" name="">
                <i class="Hui-iconfont">&#xe665;</i> 搜索
            </button>
        </div>
    </form>

    <table
            class="table mt-15 table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <th width="30">版本</th>
            <th width="60">日期</th>
            <th width="60">账号活跃</th>
            <th width="60">设备活跃</th>
        </tr>
        </thead>
        <tbody>
        <volist name ="info" id ="val">
            <tr class="text-c">
                <th>{$val['VerSion']}</th>
                <th>{$val['t']}</th>
                <th>{$val['Account']}</th>
                <th>{$val['Equipment']}</th>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
<div class = "cl">
    <div style="padding-right: 20px;float: right;" 　id="DataTables_Table_0_paginate"
         class="dataTables_paginate paging_simple_numbers">{$page}</div>
</div>



<script type="text/javascript" src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/Highcharts/4.1.7/js/highcharts.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/Highcharts/4.1.7/js/modules/exporting.js"></script>
</body>
</html>



