<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,gprs-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$responseAdmin}/lib/html5.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/respond.min.js"></script>
<script type="text/javascript" src="{$responseAdmin}/lib/PIE_IE678.js"></script>
<![endif]-->
<link href="{$responseAdmin}/css/H-ui.min.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/css/H-ui.admin.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/lib/icheck/icheck.css" rel="stylesheet"
	type="text/css" />
<link href="{$responseAdmin}/lib/Hui-iconfont/1.0.1/iconfont.css"
	rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>添加活动列表</title>
</head>
<body>
	<div class="pd-20">

		<form action="" method="post" class="form form-horizontal" id="form-menu-add">

			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>活动标识：</label>
				<div class="formControls col-1">
					<input type="text" class="input-text" value="" placeholder=""
						   name="Code" datatype = "*2-16" nullmsg="活动标识名不能为空">
				</div>
				<div class="col-1"></div>
				<label class="form-label col-2"><span class="c-red">*</span>活动类型：</label>
				<div class="formControls col-1">
					<div style="width:100%;text-align:center;float:left">
		        		<span class="select-box">
							<select class="select"  name="Type" >
								<option   value="1">累计充值</option>
								<option   value="2">单笔充值</option>
								<option   value="3">循环充值</option>
								<option   value="4">图片类型</option>
							</select>
						</span>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>渠道：</label>
				<div class="formControls col-1">
					<div style="width: 100%;text-align:center;float:left">
		        		<span class="select-box">
							<select size="1" name="Channel" class="select">
								<volist name = "catChannel" id = "val">
									<option value="{$val['id']}">{$val['name']}</option>
								</volist>
						    </select>
						</span>
					</div>
				</div>
				<input type="hidden" value="0" id="upid" name="upid" />
				<div class="col-4"></div>
			</div>
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>计费：</label>
				<div class="formControls col-1">
					<input type="text"
						   onfocus="<literal>WdatePicker({dateFmt:'yyyy-MM-dd HH',maxDate:'#F{$dp.$D(\'AddUpEndTime\')||\'2080-10-01\'}'})</literal>"
						   id="AddUpStartTime" value="" name="AddUpStartTime"
						   class="input-text Wdate" style="width: 150px;">

				</div>
				<div class="col-1"></div>
				<div class="formControls col-1">
					<input
							type="text"
							onfocus="<literal>WdatePicker({dateFmt:'yyyy-MM-dd HH',minDate:'#F{$dp.$D(\'AddUpStartTime\')}',maxDate:'2080-10-01'})</literal>"
							id="AddUpEndTime" value="" name="AddUpEndTime"
							class="input-text Wdate" style="width: 150px;">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>显示：</label>
				<div class="formControls col-1">
					<input type="text"
						   onfocus="<literal>WdatePicker({dateFmt:'yyyy-MM-dd HH',maxDate:'#F{$dp.$D(\'ShowEndTime\')||\'2080-10-01\'}'})</literal>"
						   id="ShowStartTime" value="" name="ShowStartTime"
						   class="input-text Wdate" style="width: 150px;">
				</div>
				<div class="col-1"></div>
				<div class="formControls col-1">
					<input
							type="text"
							onfocus="<literal>WdatePicker({dateFmt:'yyyy-MM-dd HH',minDate:'#F{$dp.$D(\'ShowStartTime\')}',maxDate:'2080-10-01'})</literal>"
							id="ShowEndTime" value="" name="ShowEndTime"
							class="input-text Wdate" style="width: 150px;">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>短标题：</label>
				<div class="formControls col-5">
					<input type="text" class="input-text" value="" placeholder=""
						   name="Title" datatype="*2-30" nullmsg="活动标题不能为空">
				</div>
				<div class="col-4"></div>
			</div>

			<div class="row cl">
				<label class="form-label col-3"><span class="c-red">*</span>描述：</label>
				<div class="formControls col-5">
					<textarea  name="Describe" style="width: 100%;"   cols="100" rows="10" ></textarea>
				</div>
				<div class="col-4"></div>
			</div>

			<div class="row cl">
				<div class="col-9 col-offset-3">
					<input class="btn btn-primary radius" type="submit" name="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				</div>
			</div>
		</form>
	</div>
	</div>
	<script type="text/javascript"
		src="{$responseAdmin}/lib/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="{$responseAdmin}/lib/icheck/jquery.icheck.min.js"></script>
	<script type="text/javascript"
		src="{$responseAdmin}/lib/Validform/5.3.2/Validform.min.js"></script>
	<script type="text/javascript"
		src="{$responseAdmin}/lib/layer/1.9.3/layer.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{$responseAdmin}/js/H-ui.admin.js"></script>

	<literal>
	<script type="text/javascript">
		$(function() {
			$('.skin-minimal input').iCheck({
				checkboxClass : 'icheckbox-blue',
				radioClass : 'iradio-blue',
				increaseArea : '20%'
			});
			$("#form-menu-add").Validform({
				tiptype : 2,
                datatype:{
				  'Type':function (gets,obj,curform,regxp) {
					  if(gets ==''){
							return false;
					  }
					  if(gets.length<0 || gets.length>3){
                          return false;
					  }
					  //验证用户是否存在
                      var _Verification = true;
                      $.ajax(
                          {
                              type:"POST",
                              url:'/jy_admin/ActivityList/Verification',
                              async:false,
                              data:{'Type':gets},
                              success:function (msg) {
                                  if(msg == 0){
                                      _Verification =   false;
                                  }else if(msg == 1){
                                      _Verification =   true;
                                  }else if(msg == 2){
                                      _Verification   = '活动类型已经存在';
                                  }
                              }
                          }
                      );
                      return   _Verification;

                  }
				},
				callback : function(form) {
					form[0].submit();
					var index = parent.layer.getFrameIndex(window.name);
					parent.$('.btn-refresh').click();
					parent.layer.close(index);
				}
			});

		});
	</script>
	</literal>
</body>
</html>